{% extends "layout.html" %}

{% block title %}
    Welcome, Indeed!
{% endblock %}

{% block heading %}
    Welcome Page!
{% endblock %}

{% block body %}
    <h3>
        <ul>
           {% for name in names|reverse %}
             <li>{% if 'http' in name %}
                    <a href="{{name}}" target=”_blank>{{name}}</a>
                 {% else %}
                   {{name}}
                 {% endif %}
                </li>
            {% endfor %}
       </ul>
    </h3>
    
{% endblock %}