{% extends "layout.html" %}

{% block title %}
    Taking Notes is Easy AF
{% endblock %}

{% block heading %}
    Your Notes Are Here:
{% endblock %}

{% block body %}
    
    <form action="{{ url_for('notes') }}" method="POST">
        <input placeholder="Type Notes" type="text" name="note"/>
        <button>Submit</button>
    </form>
    <br>

    <h3>
        <ul>
        {% for note in notelist|reverse %}
        <li>{{ note }}</li>
        {% endfor %}
        </ul>
    </h3>

{% endblock %}